<%= form_for @comment, :url => post_comments_path(@post) do |f| %>
<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>
<p><%= f.label :comment %></p>
<p><%= f.text_area :comment %></p>
<p><%= f.submit 'Comment' %></p>
<% end %>