<ul>
	<% @comments.each do |comment| %>
		<li>
			<p><%= comment.name %> said:</p>
			<p><%= comment.comment %></p>
			<p><%= comment.created_at.strftime('%a, %d %b %Y %H:%M') %></p>
		</li>
	<% end %>
</ul>

<%= link_to 'Comment', new_post_comment_path %>
<p><%= link_to 'Back to post', post_path(@post) %></p>
<%= paginate @comments %>
