<div class="heading">
  <h1>My Posts</h1>
</div> 

<% if @posts.where(:user_id => current_user).count == 0 %>
	<h4>No posts yet :( </h4>
	<%= link_to 'Add new post', new_post_path %>
<% else %>
<% @posts.each do |post| %>
<div class="links">
<%= link_to post_path(post.id) do %>
<div class="container">
  <div class="well">
      <div class="media">
    		<h4 class="media-heading"><%= post.title %></h4>
          <p class="media-body">By <%= post.user.username %></p>
          <p><%= post.body %></p>
          <ul class="list-inline list-unstyled">
            <li><span><i class="glyphicon glyphicon-calendar"></i> <%= (Time.now.to_date - post.created_at.to_date).to_i%> days ago </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> <%= post.comments.count %> comments</span>
          </ul>
          <i class="glyphicon glyphicon-tags"></i> <%= post.tags.map{ |t| t.name }.join(", ") %></
      </div>
  </div>
</div>
<% end %>
</div>
<% end %>

<% end %>